<!DOCTYPE html>
<html>
<head>
  <title>Robot Configuration</title>
  <link rel="stylesheet" href="./static/styles.css"> <!-- Include shared.css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Include Bootstrap CSS -->
</head>
<body>
  <div class="container">
    <h1>Robot Configuration</h1>

    <form>
      <div class="form-group">
        <label for="healthSlider">Health:</label>
        <input type="range" class="form-control-range" id="healthSlider" min="50" max="150" value="100">
      </div>
      
      <div class="form-group">
        <label for="shieldSlider">Shield:</label>
        <input type="range" class="form-control-range" id="shieldSlider" min="50" max="150" value="100">
      </div>
      
      <div class="form-group">
        <label for="attackSlider">Attack:</label>
        <input type="range" class="form-control-range" id="attackSlider" min="50" max="150" value="100">
      </div>
    </form>

    <p id="totalPoints">Total Points: 300</p>
  
  <div>
    <p>
      <b>How does this work?</b><br>
      You have 300 points to distribute between your robot's health, shield, and attack.
      <br><br>
      <b>Health:</b><br>
      Health is how much damage your robot can take before it is destroyed, and can be replenished with a health pack.
      <br><br>
      <b>Shield:</b><br>
      The shield on the other hand, absorbes damage before it can affect your robot's health, and it slowly regenerates as time passes, as long as it is not taking damage.
      However, it can be ignored by some attacks, and once it's depleted, it doesn't come back.
      <br><br>
      <b>Attack:</b><br>
      There are two types of attack: melee and bullets. The attack stat affects only the melee attack, which cannot be blocked by a shield.
      The other attack your bot has, bullets, always does the same, lower damage. They can be fired at a distance, but they can also be blocked by a shield.
      <br><br>
      <b>So... how do i win?</b><br>
      There are many possible strategies, you can have a balanced robot, or center on one stat and focus your coding around that.
      Use the combination that better suits your playstyle, but don't neglect any stat, or you might find yourself in a tight spot...
    </p>
  </div>

  </div>

  
  <script src="./static/shared_script.js"></script>
  <script src="./static/bot_config_script.js"></script>
</body>
</html>
