<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/styles.css"> <!-- Include shared.css -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="container">
      <h1 class="text-center">The Game</h1>
      
  </div>

    <script src="./static/shared_script.js"></script>
    <script src="./static/login_script.js"></script>
  </body>
</html>
