<!DOCTYPE html>
<html>
  <head>
    <title>Main menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/styles.css">
  </head>

  <body>
    <div class="container">
      <h1 class="text-center mt-4">Welcome to the Game, username</h1>

      <!-- Button to update code -->
      <button class="btn btn-primary mt-3" onclick="redirectToUpdateCode()">Update Code</button>

      <!-- Button to view replays -->
      <button class="btn btn-primary mt-3" onclick="redirectToReplays()">Replays</button>

      <!-- Button to view highscores -->
      <button class="btn btn-primary mt-3" onclick="redirectToHighscores()">Highscores</button>

      <!-- Button to options -->
      <button class="btn btn-secondary mt-3" onclick="redirectToOptions()">Options</button>

      <!-- Button to logout -->
      <button class="btn btn-secondary mt-3" onclick="logout()">Logout</button>
    </div>

    <script>
      // Function to redirect to the "Update Code" page
      function redirectToUpdateCode() {
        window.location.href = '/update_code';
      }

      // Function to redirect to the "Replays" page
      function redirectToReplays() {
        window.location.href = '/replays';
      }

      // Function to redirect to the "Highscores" page
      function redirectToHighscores() {
        window.location.href = '/highscores';
      }

      // Function to redirect to the "Options" page
      function redirectToOptions() {
        window.location.href = '/options';
      }
    </script>
  </body>
</html>
