<!DOCTYPE html>
<html>
  <head>
    <title>Options</title>
    <link rel="stylesheet" href="./static/styles.css"> <!-- Include shared.css -->
  </head>
  <body>
    <div class="container">
      <h1>Options</h1>
      <label>
        <input type="checkbox" id="themeCheckbox">
        Dark mode
      </label>
      <button type="secondary" onclick="goBack()">Go Back</button>
    </div>

    <script src="./static/options_script.js"></script>
    <script src="./static/shared_script.js"></script>
  </body>
</html>
