<!DOCTYPE html>
<html>
<head>
  <title>Player Information</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="./static/styles.css"> <!-- Include shared.css -->
</head>
<body>
  <div class="container mt-4" id="container">
    <h1>Player Info</h1>
    
    <!-- Display player information -->
    <div class="row mt-4">
      <div class="col-md-12">
        <h3>Position in the last game: <br><span id="position_span" class="info_label">...</span></h3>
        <h3>Errors found: <br><span id="error_status_span" class="info_label">...</span></h3>
        <h3>Date of last game: <br><span id="date_span" class="info_label">...</span></h3>
        <h3>Configuration used:</h3>
        <ul>
          <li>Health: <span id="healthConfig" class="info_label">...</span></li>
          <li>Shield: <span id="shieldConfig" class="info_label">...</span></li>
          <li>Attack: <span id="attackConfig" class="info_label">...</span></li>
        </ul>
      </div>
    </div>

    <span id="message_span" style="color: red;"><p id="message"></p></span> <!-- Display login error/success message here -->
    
    <!-- Button to show error details -->
    <div class="row mt-4">
      <div class="col-md-12">
        <button id="log_button" class="btn btn-primary" type="button" onclick="log_button()" data-toggle="collapse" data-target="#errorDetails" aria-expanded="false" aria-controls="errorDetails">
          Show last simulation log
        </button>
        <div class="collapse mt-3" id="errorDetails">
          <span id="error_span" class="info_label"><p id="error">No error information available.</p></span>
        </div>
      </div>
    </div>
    
    <!-- Go back button -->
    <div class="row mt-4">
      <div class="col-md-12">
        <button class="btn btn-secondary"  onclick="goBack()" >Go Back</button>
      </div>
    </div>
  </div>
  
  <script src="./static/shared_script.js"></script>
  <script src="./static/player_info_script.js"></script> <!-- Include player_info.js -->

  <!-- Include jQuery and Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
