<!DOCTYPE html>
<html>
<head>
  <title>Replays</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/styles.css"> <!-- Include shared.css -->
</head>
<body>
  <div class="container" id="container">
    <h1 class="mt-4">Last Games</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Number</th>
          <th>Highscore</th>
          <th>Time of Execution/Time Elapsed</th>
        </tr>
      </thead>
      <tbody id="replaysTable">
        <!-- Highscores data will be inserted here -->
      </tbody>
    </table>

    <button class="btn btn-secondary mt-3" type="button" data-toggle="collapse" onclick="expand_form('75%')" data-target="#videoCollapse">Show last video</button>

    <!-- Collapsible video iframe -->
    <div id="videoCollapse" class="collapse">
      <iframe width="560" height="315" src="your_video_url.mp4" frameborder="0" allowfullscreen></iframe>
    </div>

    <button class="btn btn-secondary mt-3" type="button" onclick="goBack()">Go Back</button>

    <script>
      // Call the function to populate the table when the page loads
      window.onload = populateReplaysTable;
    </script>

    <script src="./static/shared_script.js"></script>

    <!-- Include jQuery and Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </div>
</body>
</html>
