<!DOCTYPE html>
<html>
<head>
  <title>Replays</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/styles.css"> <!-- Include shared.css -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container" id="container">
    <h1 class="mt-4">Last Games</h1>
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Number of games done</th>
          <th scope="col">Highscore (last game)</th>
          <th scope="col">Time of Execution</th>
          <th scope="col">Server time elapsed</th>
        </tr>
      </thead>
      <tbody id="replays_table">
        <!-- Data will be inserted here -->
      </tbody>
    </table>

    <span id="message_span" style="color: red;"><p id="message"></p></span> <!-- Display login error/success message here -->

    <button class="btn btn-primary mt-3" type="button" data-toggle="collapse" onclick="video_button()" id="video_button" data-target="#videoCollapse">Show last video</button>

    <!-- Collapsible video iframe -->
    <div id="videoCollapse" class="collapse">
      <div class="d-flex justify-content-center align-items-center" style="height: 75vh;">
        Info: if you can't see the information or the video, you might have caught the server in the middle of rewritting the video.<br>
        This will be addressed in the future, but for now, just try again in a few seconds, or logout and login again.
        <video width="50%" controls="controls">
          <source src="/simulation_video" type="video/mp4" />
        </video>
      </div>
    </div>

    <button class="btn btn-secondary mt-3" type="button" onclick="goBack()">Go Back</button>

    <script>
      // Call the function to populate the table when the page loads
    </script>

    <script src="./static/shared_script.js"></script>
    <script src="./static/replays_script.js"></script>

    <!-- Include jQuery and Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </div>
</body>
</html>
