<!DOCTYPE html>
<html>
<head>
  <title>Update Code</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/styles.css"> <!-- Include shared.css -->
</head>

<body>
  <div class="container codeContainer">
    <h1 class="mt-4">Update Code</h1>

    <form>
      <div class="form-group">
        <textarea class="form-control" id="code_zone" rows="8" placeholder="Paste your code here..."></textarea>
      </div>
      <p id="message_area"></p> <!-- Display login error/success message here -->
      <button class="btn btn-primary" type="button" onclick="update_code()">Update Code</button>
    </form>

    <button class="btn btn-secondary mt-3" type="button" onclick="goBack()">Go Back</button>
  </div>

  <script src="./static/shared_script.js"></script>
  <script src="./static/update_code_script.js"></script>
</body>
</html>
