<!DOCTYPE html>
<html>
<head>
  <title>Update Code</title>
  <link rel="stylesheet" href="./static/styles.css"> <!-- Include shared.css -->
</head>
  <body>
    <div class="codeContainer">
      <h1>Update Code</h1>

      <form>
        <textarea id="code" placeholder="Paste your code here..."></textarea>
        <button type="button" onclick="updateCode()">Update Code</button>
      </form>

      <button type="secondary" onclick="goBack()">Go Back</button>
    </div>

    <script>
      function updateCode() {
        const newCode = document.getElementById('code').value;
        // Implement code to update the code on the server
        alert('Code updated on the server!');
      }
    </script>
    
    <script src="./static/shared_script.js"></script>
  </body>
</html>
