<!DOCTYPE html>
<html>
<head>
  <title>Upload Code</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css"> <!-- Include CodeMirror CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/dracula.min.css"> <!-- Include CodeMirror dark theme CSS -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/styles.css"> <!-- Include shared.css -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container" id="container">
    <h1 class="mt-4">Upload Code</h1>

    <form>
      <div class="form-group">
        <div class="codeContainer">
          <div class="line-numbers" id="lineNumbers"></div>
          <textarea class="form-control" id="code_zone" rows="25" placeholder="Paste your code here..."></textarea>
        </div>        
      </div>
      <span id="message_span" style="color: red;"><p id="message"></p></span> <!-- Display login error/success message here -->
      <div class="mb-3">
        <button id="help_button" class="btn btn-warning" type="button" data-toggle="collapse" data-target="#explanationCollapse" aria-expanded="false" aria-controls="explanationCollapse" onclick="help_button()">
          Need some help?
        </button>
      </div>
      <div class="collapse" id="explanationCollapse">
        <h2>Basics</h2>
        <p>
          To run the code safely, we use <code>pythonRestricted</code>, a restricted version of Python, which only allows a few functions and statements, together with those which we have implemented ourselves, and the names allowed by the module <code>safe_globals</code>. As such, there are some Python features that aren't available, such as double assignment (<code>x, y = 0, 0</code>).
        </p>
        
        <h3>Libraries</h3>
        <p>
          The following libraries are available for use:
          <ul>
            <li>Random as rnd</li>
            <li>Math as math</li>
            <li>Numpy as np</li>
          </ul>
        </p>
        
        <h3>The "game" Object</h3>
        <p>
          All of our functions can be accessed through an object called <code>game</code>. This object has five attributes: <code>entities</code>, <code>actions</code>, <code>functions</code>, and <code>tick</code>.
        </p>
        
        <h3>Entities</h3>
        <p>
          A dictionary which contains another dictionary for each type of entity in the game. This includes bots, bullets, and drops separated by type (<code>drops_points</code>, <code>drops_health</code>, <code>drops_shield</code>).
          On those dictionaries, you have all the entities of that type, with their ID as key, and an object <em>type_info</em>.
          To sum it up:
          <ul>
            <li><code>game.entities["me"]</code>: your bot info.</li>
            <li><code>game.entities["bots"]</code>: dictionary <code>{id: bot_info}</code> with all the bots in the game, excluding yours.</li>
            <li><code>game.entities["bullets"]</code>: dictionary <code>{id: bullet_info}</code> with all the bullets in the game.</li>
            <li><code>game.entities["drops_points"]</code>: dictionary <code>{id: drop_info}</code> with all the drops that give points.</li>
            <li><code>game.entities["drops_health"]</code>: dictionary <code>{id: drop_info}</code> with all the drops that give health.</li>
            <li><code>game.entities["drops_shield"]</code>: dictionary <code>{id: drop_info}</code> with all the drops that give shield.</li>
          </ul>
          So, if you want to get the info of all the bots in the game, you would do:<br>
          
            <code>for bot_id, bot_info in game.entities["bots"].items():
          # Do something with bot_info</code>
          
          You can check each info object in <em>simulation/player_context</em>, but here are the methods summed up:
          <ul>
            <li>general: <code>id</code> (unique, static), <code>x</code> (x coordinate), <code>y</code> (y coordinate)</li>
            <li>bots: <code>health</code> (bot's remaining life), <code>shield</code> (bot's remaining defense), <code>attack</code> (damage dealt (config value/100 * BASE_MELEE))</li>
            <li>bullets: <code>dx</code> (component x of the direction vector), <code>dy</code> (component y of the direction vector), <code>damage</code>, <code>type</code> ("normal" or "super"), <code>owner_id</code></li>
            <li>drops: <code>type</code> (by which they are already separated)</li>
          </ul>
          One could then get the health of all the bots in the game by doing:<br>
          
            <code>for bot_id, bot_info in game.entities["bots"].items():
            print(bot_info.health) <!-- You can check the output of the prints on the "Player info" page. --></code>
          
        </p>
        
        <h3>Actions</h3>
        <p>
          From here, you can access all actions allowed to your bot (all of them have cooldowns except for <em>move</em>).
          <ul>
            <li><code>move(dx, dy)</code>: the bot moves in the given direction;</li>
            <li><code>shoot(dx, dy)</code>: the bot shoots in the given direction;</li>
            <li><code>melee()</code>: the bot attacks in the given direction;</li>
          </ul>
          And have these abilities:
          <ul>
            <li><code>teleport(dx, dy)</code>: the bot teleports ___ x distance in the given direction;</li>
            <li><code>super_shot(dx, dy)</code>: the bot shoots a projectile that ignores the shield and deals the base damage for a melee attack;</li>
            <li><code>super_melee()</code>: the bot makes a melee attack which deals double damage to the defense, base damage to the life.</li>
          </ul>
          So, to move, you would do:<br>
            <code>game.actions.move(dx, dy)</code>
        </p>
        
        <h3>Functions</h3>
        <p>
          To make the programming more versatile, we offer a few functions that you can use. First of all, to save information between ticks, you can use a dictionary:
          <ul>
            <li><code>game.functions.save_data(name, data)</code>: Saves the object <em>data</em> in the dictionary, with the key <em>name</em>;</li>
            <li><code>game.functions.get_data(name) -> {}</code>: Returns the object saved in the dictionary with the key <em>name</em>;</li>
          </ul>
          Then, you have other more general functions:
          <ul>
            <li><code>game.functions.print(string)</code>: Prints the string on the log shown in the "Player info" page;</li>
            <li><code>game.functions.vector_to(x, y) -> (dx, dy)</code>: Returns a vector (tuple) from the bot to the given coordinates;</li>
          </ul>
          And functions to make distances easier:
          <ul>
            <li><code>get_bots_in_range_melee() -> (bool, [id's])</code>: Returns a tuple, where the first element is a boolean indicating if there are bots in range, and the second element is a list of the IDs of the bots in range;</li>
            <li><code>nearest_object(type = ["bot", "bullet", "points", "health", "shield"]) -> [id's]</code>: Returns the ID of the nearest object of the given type (the last three are drops);</li>
            <li><code>get_objects_in_range(type = [^^^^], radius = (MAP_HEIGHT/10))</code>: Returns a list of the IDs of the objects of the given type in range of the bot, with the given radius (default is 1/10 of the map height);</li>
          </ul>
        </p>
        
        <h3>Ticks</h3>
        <p>
          Returns the number of ticks that have passed since the beginning of the game.
          At the moment, the ticks per second (FPS in pygame) is set at 20, but you can check the <em>global_consts</em> file.
        </p>
        
      </div>
      <button class="btn btn-primary" type="button" onclick="upload_code()">Upload Code</button>
    </form>

    <button class="btn btn-secondary mt-3" type="button" onclick="goBack()">Go Back</button>
  </div>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>
  <script src="./static/shared_script.js"></script>
  <script src="./static/upload_code_script.js"></script>

  <!-- Include jQuery and Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
  
</body>
</html>
