<!DOCTYPE html>
<html>
<head>
  <title>Upload Code</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css"> <!-- Include CodeMirror CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/dracula.min.css"> <!-- Include CodeMirror dark theme CSS -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/styles.css"> <!-- Include shared.css -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container" id="container">
    <h1 class="mt-4">Upload Code</h1>

    <form>
      <div class="form-group">
        <div class="codeContainer">
          <div class="line-numbers" id="lineNumbers"></div>
          <textarea class="form-control" id="code_zone" rows="25" placeholder="Paste your code here..."></textarea>
        </div>        
      </div>
      <span id="message_span" style="color: red;"><p id="message"></p></span> <!-- Display login error/success message here -->
      <div class="mb-3">
        <button id="help_button" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#explanationCollapse" aria-expanded="false" aria-controls="explanationCollapse" onclick="help_button()">
          Need some help?
        </button>
      </div>
      <div class="collapse" id="explanationCollapse">
        <p>
          <b>Basics</b><br>
          To run the code safely, we use pythonRestricted, a restricted version of python, which only allows a few functions and statements, together with these which we have implemented ourselves, and the names allowed by the module safe_globals.
          As such, there are some python features that aren't available, such as double assignation (x, y = 0, 0).
          
          <br><br>
          <b>Libraries:</b><br>
          The following libraries are available for use:
          <br>- Random as rnd
          <br>- Math as math
          <br>- Numpy as np
          <br><br>
          <b>The "game" object:</b><br>
          All of our functions can be accessed through an object called "game".
          This objects has four attributes: entities, actions, and tick.
          <br><br>
          <b>Entities:</b><br>
          A dictionary which contains another dictionary for each type of entities in the game. This includes bots, dead_bots, bullets, and drops separated by type (drops_points, drops_health, drops_shield).
          On those dictionaries, you have all the entities of that type, with their id as key, and an object "type_info".
          To sum it up, you have: 
          <br>- game.entities["me"]: your bot info.
          <br>- game.entities["bots"]: dictionary {id: bot_info} with all the bots in the game, excluding yours.
          <br>- game.entities["bullets"]: dictionary {id: bullet_info} with all the bullets in the game.
          <br>- game.entities["drops_points"]: dictionary {id: drop_info} with all the drops that give points.
          <br>- game.entities["drops_health"]: dictionary {id: drop_info} with all the drops that give health.
          <br>- game.entities["drops_shield"]: dictionary {id: drop_info} with all the drops that give shield.
          <br><br>
            So, if you want to get the info of all of the bots in the game, you would do:
            for bot_id, bot_info in game.entities["bots"].items():
              # Do something with bot_info
              <br><br>
          You can check each info object in "simulation/player_context", but here are the methods summed up:
          <br>- general: id (unique, static), x (x coordinate), y (y coordinate)
          <br>- bots: health (bot's remaining life), shield (bot's remaining defense), attack (damage dealt (config value/100 * BASE_MELEE))
          <br>- bullets: dx (component x of the direction vector), dy (component y of the direction vector), damage, type ("normal" or "super"), owner_id
          <br>- drops: type (by which they are already separated)
          <br>
            One could then get the health of all the bots in the game by doing:
            for bot_id, bot_info in game.entities["bots"].items():
              print(bot_info.health) # You can check the output of the prints on the "Player info" page.
          <br><br>
          <b>Actions</b><br>
          From here, you can access all actions allowed to your bot.
          <br>- Move: the bot moves in the given direction;
          <br>- Shoot: the bot shoots in the given direction;
          <br>- Melee: the bot attacks in the given direction;
          <br><br>
          And have this habilities: 
          <br>- Teleport: the bot teleports ___ x distance in the given direction;
          <br>- Super-shot: the bot shoots a projectile that ignores the shield and deals the base damage for a melee attack;
          <br>- Super-melee: the bot makes a melee attack which deals double damage to the defense, base damage to the life.
          <br>
            So, to move, you would do:
            game.actions.move(dx, dy)
          <br><br>
          <b>Ticks</b><br>
          Returns the number of ticks that have passed since the beginning of the game.
          At the moment, the ticks per second (FPS in pygame) is set at 20, but you can check the "global_consts" file.        </p>
      </div>
      <button class="btn btn-warning" type="button" onclick="upload_code()">Upload Code</button>
    </form>

    <button class="btn btn-secondary mt-3" type="button" onclick="goBack()">Go Back</button>
  </div>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>
  <script src="./static/shared_script.js"></script>
  <script src="./static/upload_code_script.js"></script>
  
</body>
</html>
